@charset "utf-8";

/* base style */
body {
    /* Google fonts > Noto Sans Japanese 基本Regular 400 or bold 700使う */
    /* https://willcloud.jp/knowhow/font-family/#font-family-4 ゴシック体の設定例 */
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    /* or #111 目に優しい*/
}

.section {
    background-color: goldenrod;
    padding: 30px 15px;
    border: 1px solid #000;
}

.section-headline {}

.about {}

.about-image {}

.about-catpion {}

.about-headline {}

.about-description {}